

/* ReseT  C S S */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { border:0; font-size:100%; font:inherit; vertical-align:baseline; margin:0; padding:0; }
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block; }
body { line-height:1; }
ol,ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before,q:after { content:none; }
table { border-collapse:collapse; border-spacing:0; }
.clearfix:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; } 
.clearfix { display: inline-block; } /* Hide from IE Mac \*/ .clearfix { display: block; } /* End hide from IE Mac */ .none { display: none; } /* End Clearfix */

b,em,strong{font-weight:bold}

i,cite{font-style:italic}


::selection {  background: #2EB0EC;  color: #fff;  }
::-moz-selection {  background: #333;  color: #fff;  }
a img{	border: none;}
h1, h2, h3,
h4, h5, h6,
h1 a, h2 a, h3 a,
h4 a, h5 a, h6 a { color: #272727; font-weight: bold; }

h1 { font-size: 32px; line-height: 38px; }
h2 { font-size: 22px; line-height: 32px; }
h3 { font-size: 18px; line-height: 28px; }
h4 { font-size: 15px; line-height: 26px; }
h5 { font-size: 12px; line-height: 20px; }
h6 { font-size: 10px; line-height: 20px; }

.post-body h1 { margin: 55px 0 25px 0; }
.post-body h2 { margin: 35px 0 15px 0; }

.post-body h3, .post-body h4,
.post-body h5, .post-body h6 { margin: 15px 0; }


.post-body h1 { margin: 40px 0 20px; }
.post-body h2 { margin: 30px 0 15px; }
.post-body h3 { margin: 30px 0 10px; }
.post-body h4 { margin: 25px 0 8px; }
.post-body h5 { margin: 20px 0 5px; }
.post-body h6 { margin: 20px 0 5px; }


.post-body h1:first-child,
.post-body h2:first-child,
.post-body h3:first-child,
.post-body h4:first-child,
.post-body h5:first-child,
.post-body h6:first-child { margin-top: 0; }


/* Global LinK  C S S */

a,a:hover {
color:#009ae1;
text-decoration:none;
}

a,img,#load-more {
-moz-transition:background-color .1s linear, color .1s linear;
-ms-transition:background-color .1s linear, color .1s linear;
-o-transition:background-color .1s linear, color .1s linear;
-webkit-transition:background-color .1s linear, color .1s linear;
transition:background-color .1s linear, color .1s linear;
}

img {
height:auto;
max-width:100%;
vertical-align:bottom;
width:auto;
}

/* PrimarY StructurE  C S S */

body {
background: #e6e7e8;
font-family: "Open Sans", Helvetica, Arial, sans-serif;
line-height: 1.6;
color: #333;
text-align: center;
font-size:15px;
}
.clr{clear:both;float:none}
.ct-wrapper:before,.ct-wrapper:after{display:block;height:0;overflow:hidden}
.ct-wrapper:after{clear:both}

.ct-wrapper{
position:relative;
max-width:960px;
margin:0 auto;
padding:0}

.outer-wrapper{
background:transparent;
position:relative;
margin:0;
padding-top: 15px;
}

.main-wrapper {
margin: 0;
padding: 0;
max-width: 620px;
float: left;
width: 100%;
}

#content {
width: 100%;
padding: 0;
margin:0
}

#header {
padding: 0;
}
#header-inner {
width: 940px;
position: relative;
    margin: 0 auto;
    text-align: left;
	z-index: -1000;
}
#logo {
overflow: hidden;
min-height: 200px;
margin: 0 auto;
position: relative;
    height: 105px;
    padding: 62px 0 10px;
    width: auto;
	z-index: -1000;
}

#header p.description{color:#333;font-size:20px;font-family:monospace;text-align:center;text-transform:capitalize;margin:2em auto 0;padding:0}


/* HeadeR RighT C S S */

.header-right { float: right; }
.header-right .widget-content { margin-top: 40px; }


/* PosT C S S */

.post {
background: transparent;
    margin: 0 6px 16px;
    width: 306px;
}

.post .entry-content {
    background: none repeat scroll 0 0 transparent;
    border-color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    width: auto;
    word-wrap: break-word;
}

img.postthumb{max-width:100%;width:100%;}

.post .featured-image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    position: relative;
    width: 300px;
}

.post-readmore {
    margin-bottom: 20px;
}

.post .meta-category {
    display: none;
    font-size: 11px;
    font-weight: bold;
    margin: 15px 0 7px;
    padding-bottom: 2px;
    text-transform: uppercase;
}

.meta-category > a {
    background-color: #111;
    border-radius: 5px;
    padding: 7px 12px;
}

.meta-category a:nth-child(2){display:none}

.meta-tags {
display: block;
width: 100%;
background: white;
padding: 10px 20px;
text-align: left;
font-size: 14px;
}
.meta-tags a {
background: rgb(184, 184, 184);
color: #555;
padding: 2px 4px;
border-radius: 4px;
font-size: 10px;
margin-right: 5px;
}

.post .post-title {
font-size: 22px;
font-weight: bold;
line-height: 1.2;
text-transform: uppercase;
color: #333;
font-family: "Roboto",sans-serif;
padding: 0 9px;
margin-top: 5px;
margin-bottom: 10px;
text-align: center;
position: relative;
text-decoration: none;
}

.post .post-content {
text-shadow: none;
font-size: 12px;
font-family: "Merriweather", serif;
position: relative;
}

.post-content .summary {
margin-bottom: 15px;
}

.post a.read-more {
font-weight: bold;
font-size: 12px;
}

.post-footer {
    background: none repeat scroll 0 0 #222;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    color: #777;
    font-size: 11px;
    overflow: hidden;
    padding: 7px 20px 9px;
}
.post .meta-published {
float: left;
}
.post .meta-comments {
float: right;
}


/* ItemS PosT C S S */

.ft-ctbox .hentry {
padding: 7px 0;
background: #ddd;
border: 1px solid #ccc;
border-width: 1px 0;
overflow: hidden;
width: 620px;
display: inline;
}

.post-header {
background: #fff;
padding: 20px 30px 25px;
}

h1.post_title {
font-weight: 600;
font-size: 30px;
line-height: 1.2;
text-transform: uppercase;
background-color: transparent;
position: relative;
}
.inner .meta-published, .inner .meta-author {
font: normal 11px/1 "Merriweather", serif;
color: #999;
float: none;
background:none;
}

#featured-image img {
min-height: 70px;
margin: 0 auto;
max-width: 100%;
width: 100%;
}

.separator:nth-child(1) img,.separator:nth-child(2) img {
 display: none; 
/* visibility: hidden; */
/* width: 0; */
/* height: 0; */
}

.clearfix .hentry .entry-content
{width: auto;
background: #fff;
padding: 10px 20px 0;
padding-bottom: 25px;
word-wrap: break-word;
overflow: hidden;}

.clearfix .post-footer {
background: #ddd;
padding: 14px 30px 8px;
margin: 0;
}
.clearfix .post-footer .meta-published {
float: left;
}
.meta-comments {
padding: 0 26px 0 0;
background-color: transparent;
}
.meta-published {
padding: 0 0 0 26px;
background-color: transparent;
}

.post-body .separator a {
display: inline-block;
margin-bottom: 10px;
}

.rmlink{float:right;line-height:normal;z-index:1000;position:absolute;right:0;bottom:10px}

#blog-pager-older-link{display:inline;float:right;text-align:right;font-weight:700;padding:0}
#blog-pager-newer-link{display:inline;float:left;text-align:left;font-weight:700;padding:0}

#blog-pager {
    clear: both;
    display: block;
    font-size: 14px;
    height: 55px;
}
.showpageNum a,.showpage a{margin:0 4px}
.showpagePoint{margin:0 2px 0 0}
.home-link,.showpageOf{display: none!important;
}

#blog-pager span:before{
content: "";
position: absolute;
border-color: transparent #000 transparent transparent;
border-width: 18px;
border-style: solid;
right: 100%;
}
.older-link:before {
border-color: transparent!important;
border-left-color: #000!important;
right: auto!important;
left: 100%!important;
}

#blog-pager span {
position: relative;
}
#blog-pager a {
display: inline-block;
background: #000;
color: white;
padding: 7px 10px;
font-weight:100;
}


blockquote {
quotes: none;
padding-left: 20px;
margin: 20px;
border-left: 3px solid #ccc;
font-style: italic;
color: #666;
}

.status-msg-wrap{display:none}

#comments{
clear: both;
display: inline;
max-width: 620px;
width: 620px;
margin: 20px 0;
padding: 7px 0;
background: #ddd;
border: 1px solid #ccc;
border-width: 1px 0;
font-size:14px;
}

#comments .inner {
padding: 25px 30px 20px;
text-align: left;
background: #fff;
}

#comments h4 {
font-weight: 600;
font-size: 18px;
text-align: center;
line-height: 1.2;
text-transform: uppercase;
padding-bottom: 20px;
margin-bottom: 30px;
background-color: transparent;
position: relative;
}

#comment-post-message {
display: none;
}

.comments ol{list-style:none;margin:0;padding:0}
.comments li.comment{list-style:none;position:relative;counter-increment:trackit}

.comment-thread .comment {
margin-bottom: 50px;
}
.comment-replies .comment {
margin-bottom: 0;
}

.comments .comments-content .comment-header, .comments .comments-content .comment-content {
margin: 5px 0px 10px;
padding: 0 10px 0 75px;
}

.comments .comment-thread.inline-thread .comment:after {
content: "";
position: absolute;
top: 30px;
left: -26px;
border-top: 1px solid rgba(162,177,185,0.59);
width: 20px;
height: 0;
}
.comments .comment-thread.inline-thread{border-left:1px solid rgba(162,177,185,0.59);background:rgba(0,0,0,0);padding:0 0 0 25px}

.comments .comment-block {
position: relative;
min-height: 100px;
margin: 10px 0 0;
padding: 0 0 2em;
}

.comment-actions {
display: block;
margin-top: 20px;
margin-left: 18px;
padding: 0;
}
.comment-replies .continue{display:none}
.comments .comments-content .comment-content {
margin: 7px 0 0;
}
.comments .comment .comment-actions a{padding-right:5px;padding-top:5px;margin:0}

.comments .comments-content .user a {
color: #383838;
font-weight: bold;
}
.comment-replies .comment-block {
padding: 0;
margin-bottom: 0;
}
.comment-replies .comment-actions {
display: none;
}
.comments .comments-content .user {
font-style: normal;
font-weight: 400;
text-shadow: 1px 1px 1px #FFF;
margin-right: 5px;
}

.comments .comments-content .datetime, .comments .comments-content .datetime a, .comments .comments-content .datetime a:hover {
font-size: 12px;
font-family: arial;
font-weight: 700;
color: #444444;
}
.comment-replies {
margin-left: 35px;
font-size: 13px;
}
.comments .avatar-image-container {
background: #FFF;
margin-left: 0;
max-height: 55px;
max-width: 55px;
overflow: hidden;
float: left;
margin-right: 10px;
z-index: 10;
border: 1px solid #DDD;
border-radius: 20px;
padding: 2px;
}
.comments .avatar-image-container img {
max-width: 100%;
height: auto;
border-radius: 20px;
}
.comments .thread-toggle{display:none}


#searchform{margin:0 }
#searchform #s{width:90%;border:0;outline:0;background:#EEE;padding:10px}

.item-snippet {
display: none;
}
.item-thumbnail {
float: left;
margin: 0 10px 6px 0;
border-radius: 10px;
overflow: hidden;
}
.sidebar .widget-content {
margin: 20px 0;
}
.sidebar-wrapper a {
color: #333;
}
.item-title {
font-size: 14px;
display: none;
}
.PopularPosts .widget-content ul li {
display:inline-block;
padding:0;}

.sidebar-wrapper {
width: 300px;
margin: 0 20px 0 0;
float: right;
}

.sidebar ul{margin:0;padding:0}
.sidebar li{list-style:none;margin:0 0 10px;padding:0}

.sidebar .widget h2 {
font-size: 16px;
line-height: 1.5em;
background: #fff;
font: normal 16px/1 "Merriweather", serif;
text-transform: uppercase;
padding: 14px 20px 12px;
margin: 0 -20px 0;
}

.sidebar .widget {
border-bottom: 1px solid #E0E0E0;
padding: 7px 20px;
margin-bottom: 20px;
background: #ddd;
border: 1px solid #ccc;
border-width: 1px 0;
}


/* FooteR C S S */

#footer {
background-color: #333;
color: #aaa;
font-size: 11px;
}
#footer-widgets {
max-width: 940px;
margin: 0 auto;
padding: 30px 0 0;
}

#footer-1 {
margin-left: 0;
}
.footer-widget {
width: 280px;
padding: 0 10px;
float: left;
}
.footer-widget .widget {
margin-bottom: 30px;
}
.footer-widget .widget h2 {
text-transform: uppercase;
color: #fff;
margin-bottom: 16px;
}
.footer-widget ul li {
list-style: none;
padding: 0;
padding-bottom: 10px;
}
.footer-widget ul {
padding: 0;
margin: 0;
text-align: center;
}
.footer-widget a {
color: #999;
}

.footer-widget .Label a {
color: #999;
font-size: 11px !important;
background: #333;
padding: 2px 10px 3px;
margin: 0 0 3px;
display: inline-block;
}

.footer-widget .Label a:hover {
color: #fff !important;
background-color: #000;
}
.footer-widget input {
background: #999;
font-size: 12px;
color: #333;
border: 0;
outline: none;
padding: 5px 16px;
width: 220px !important;
border-radius: 20px;
text-align: center;
font: 99%/1.5 sans-serif;
margin: 0;
}

.widget.ContactForm {
    display: none;
}

/* WidgeT ExtraS C S S */

.widget-content.list-label-widget-content li a {
    background-color: #bbb;
    border-radius: 5px;
    display: inline-block;
    font-size: 12px;
    margin: 0 5px;
    padding: 6px 16px;
	color: #444555;
}

.widget-content.list-label-widget-content li a:hover {
    background-color: #444555;
	color: #ddd;
}

.widget-content.list-label-widget-content li {
    display: inline;
}

.widget-content.popular-posts {
    display: inline-block;
}
.widget-content.list-label-widget-content {
    display: inline-block;
    margin-top: 8px;
}



/* PosT ExtraS C S S */

.separator {
    display: none;
}

/* FooteR MenU */

#footer-menu {
text-transform: uppercase;
padding: 22px 0 20px;
background: #333;
}

#footer-menu li a {
color: #999;
font-weight: bold;
line-height: 1;
padding: 0 16px;
text-transform: uppercase;
display: block;
}
#footer-menu li a:hover {
text-decoration: none;
color: #fff;
transition: .1s ease-in;
-moz-transition: .1s ease-in;
-o-transition: .1s ease-in;
-webkit-transition: .1s ease-in;

}
#footer-menu ul li {
list-style: none;
display: inline-block;
}
#footer-menu ul {
margin: 0;
padding: 0;
list-style: none;
text-align: center;
}
.menu-footer-menu-container {
max-width: 940px;
margin: 0 auto;
}

/* CreditS  C S S */
#credits {
margin: 0;
padding: 20px 28px 25px;
color: #949494;
}

.Navbar,.Attribution {
display: none;
}